* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, $color2, $color4);
  border-radius: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

*::before, *::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}